doctype html
head
  title ClassementUPMC
  style.
    *,
    html {
    margin: 0;
    padding: 0;
    border: 0;
    }
    html {
    width: 100%;
    height: 100%;
    }
    body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(236, 152, 42);
    }
    .center {
    width: 100%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    }
    h1 {
    font-size: 144px;
    }
    p {
    font-size: 64px;
    }
    .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    }
.center
  h1 Hello!
  p Inserez votre numero etudiant pour connaitre votre classement!
  p Nouvelle version du site !
  form
    label(for='fname') Numero etudiant:
    br
    input#num(type='text' name='num')
    br
