doctype html
head
  title ClassementUPMC
  style.
    *,
    html {
    margin: 0;
    padding: 0;
    border: 0;
    }
    html {
    height: 100%;
    }
    body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(236, 152, 42);
    }


    .center {
    width: 100%;
    height: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    }
    h1 {
    font-size: 144px;
    }
    p {
    font-size: 64px;
    }
    .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    }
    /* Style tab links */
    .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    }
    .tablink:hover {
    background-color: #777;
    }
    .header-div{
    width: 100%;
    margin: 0;
    position:absolute;
    }
  
#Header.header-div
  button.tablink(onclick="location.href='../'") Vos notes
  button.tablink(onclick="location.href='../leaderboard'") Leaderboard

.center
  h1 Hello!
  p Inserez votre numero etudiant pour connaitre votre classement!
  h3 Toutes les moyennes generales sont calculees uniquement pour les etudiants ayant passes les 3 matieres de majeur (LU3ME004, LU3ME008, LU3MEOIP)
  form
    label(for='fname') Numero etudiant:
    br
    input#num(type='text' name='num')
    br
